body
{
	width:100%;
	margin:0 auto;
	padding:0px;
	font-family:helvetica;
	background: url("../images/background.jpg");
}

.jumbotron {
	background-color:black ;
	height: 150px;
	background-image: url("../images/spying.jpg");
	background-size: 21%;
    background-repeat: no-repeat; 

}
.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 25px;
    }

.jumbotron h1 {
	margin: auto;
	color: white;
	font-family: 'Lakki Reddy', cursive;
}
.container {
	width: 70%;
	padding-top: 15px;
	border-radius: 25px;
}

#check {
	font-weight: bold;
	text-align:center;
	font-size: 2em;
	color:#1C9EFC;
	background-color: black;
	/*font-family: 'Lobster', cursive;*/
	border-radius: 25px;
}

.panel-body {
	padding: 20px;
	/*font-family: 'Lobster', cursive;*/
	font-size: 1em;


}

.panel-group .panel, .panel.primary, #map {
    margin-bottom: 0;
    border-radius: 25px;
}

#display {
	max-width:60%;
	margin:0;
	font-size: 1.5em;
}

.btn-default,
.btn-warning {
	/*display: none;*/
	padding: 7px 15px;
	border-radius: 25px;
}

#btn{
	background:black;
	color:#1C9EFC;
	border-radius: 25px;
}

.form-control{
	border-radius: 25px;
}


/**Google Map**/
h3 {
	text-align: center;
}
#map {
	width: 100%;
	height: 400px;
	background-color: grey;
}

#login_label1, #login_label {
	text-align: right;
}

#wrapper, #reset-email
{
	text-align:center;
	margin:0 auto;
	padding:0px;
	width:995px;
	
}
#form1, #form2
{
	background-color:white;
	width:380px;
	margin-left:305px;
	margin-top: 250px;
	box-shadow:0px 0px 10px 0px #D8D8D8;
	border-radius: 25px;
}
#form1 p
{
	color:#FA8258;
	font-weight:bold;
	font-family: 'Lakki Reddy', cursive;
	background: url("../images/spying.jpg");
	background-size: 30%;
	display: flex-start;
	background-repeat: no-repeat; 
	background-color: black;

}
#form1 #login_label1, #form1 #login_label
{
	color:#1C9EFC;
	padding:20px;
	font-size:25px;
	border-bottom:1px solid #E6E6E6;
	font-weight:bold;
	border-radius: 25px;
}
#form1 input[type="text"],input[type="password"]
{
	width:300px;
	height:40px;
	padding-left:10px;
	margin-top:10px;
	border:1px solid #1C9EFC;
	border-radius: 25px;

}
#form1 input[type="submit"]
{
	margin-top:10px;
	width:300px;
	height:40px;
	background-color:black;
	border:none;
	color:#1C9EFC;
	box-shadow:0px 3px 0px 0px #1C9EFC;
	border-radius:25px;
	font-family: 'Lakki Reddy', cursive;
}

#submit {
	margin-bottom: 30px;
}
#reset-password {
	background: #fff;
	cursor: pointer;
	margin-top: 20px;
}
/*#logout {
	display: none;
}*/